<%- contentFor('body') %>
            <div class="form-container">
                <div class="form-white">
                    <h2 id="title-login">Welcome back!</h2>
                    <form id="log-form" name="authorization">
                        <input type="text" id="log-login" placeholder="Login"/>
                        <input type="password" id="log-passwd" placeholder="Password"/>
                        <p class="white-add-text">Forgot your password?</p>
                        <input type="submit" value="Sign in" class="form-but red-but"/>
                    </form>
                </div>
                <div class="form-red">
                    <h2>Create Account</h2>
                    <p class="red-add-text">To keep connected with us  please register<br>with your personal info</p>
                    <input type="submit" value="Sign up" class="form-but white-but"/>
                </div>
            </div>